.root {
    min-height: 100vh;
    background-color: #004b50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swap-button {
    position: absolute;
    left: 49vw;
    top: 385px;
}